.navbar {
    width: 100%;
    background-color: #000000; /* Black background */
    padding: 15px 0;
    text-align: center; /* Centers the text horizontally */
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    border-bottom: 1px solid #2f2f2fa5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
  }
  
  .logo {
    color: #ffffff; /* White text */
    font-size: 1.8rem;
    font-weight: bold;
    
  }