.tenantSection {
    width: 80%;
    margin-left: 80px;
    margin-top: 20px;
  }
  

  .sectionTitle{
    font-size: 1.3rem;
    color: #0865b2;
    margin-bottom: 10px;
  }
  .tenantTableContainer {
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .description {
    color: #555;
    font-size: 0.8rem;
    line-height: 1.6;
    margin-bottom: 30px;
  
  }
  
  
  .tenantTable {
    width:100%;
    border-collapse: collapse;
    /* margin-top: 30px; */
    /* background: white; */
  }
  
  .tenantTable th,
  .tenantTable td {
    padding: 1.02rem;
    text-align: left;
    border-bottom: 1px solid #0865b233;
  }
  
  .tenantTable th {
    background-color: #0865b224;
    font-weight: 600;
    color: #333;
  }
  
  .tenantTable tr:hover {
    background-color: #f5f5f5;
  }
  
  .tenantTable td {
    color: #555;
  }
  
  @media (max-width: 768px) {
    .tenantTable th,
    .tenantTable td {
      padding: 0.75rem;
      font-size: 0.9rem;
    }
  }