.productHeader {
    width: 520px;
    background-color: #121212;
    color: white;
    padding: 30px;
    border-radius: 8px;
}

.headerContent {
    margin-bottom: 30px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff;
}

.description {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #cccccc;
}

.textLines {
    font-size: 12px;
    color: #777777;
    line-height: 1.5;
}

.textLines p {
    margin: 5px 0;
}


.headerContent hr{
  background-color: #ce0000;
}