/*  */

.benifitsContainer{
    margin-left: 50px;
    margin-top: 100px;
}

.benifitsContainer h1{
    font-size: 38px;
    font-weight: 400;
    margin-left: 400px;
    color: #FFFFFF;
}

.benefits{
    display: flex;
    gap: 20px;
    margin-left: 110px;
    margin-top: 30px;
}

.benefit{
    width:280px ;
    height: 360px;
    background-color: #D7D7D7;
    margin-top: 30px;
    border-radius: 20px;
}

.benefit .icon{
    width: 70px;
    height: 70px;
    background-color: #E9E9E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.benefit .icon i {
    font-size: 29px;
    color: #303030;
    transition: all 0.3s ease-in-out; 
}

.benefit .icon:hover{
    background-color: #000000;
    cursor: pointer;
}
.benefit .icon:hover i {
    color: #FFFFFF;
}



.benefit .title{
    color: #000000;
    font-weight:600;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    margin-left: 24px;
    margin-top: 20px;
}

.benefit .content{
    color: #000000;
    font-weight:400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    opacity: 0.7;
    margin-left: 24px;
    margin-top: 15px;
    margin-right:15px;
    line-height: 27px;
}