.oneFeature {
  width: 800px;
  height: 600px;
  padding: 5px;
  color: #ffffff;
  background-color: black;
  border-radius: 20px;
  /* margin-top: 40px; */
}

.oneFeature img {
  border-radius: 20px 20px 0px 0px;
  width: 790px;
  height: 400px;
  object-fit: cover;

}


.oneFeature .title{
    font-size: 20px;
    font-weight: bolder;
    padding:10px 50px;
}

.oneFeature .content{
    font-size: 14px;
    padding:1px 50px;
}
